[Twitter Keys]
# Go to http://dev.twitter.com and create an app.
# The consumer key and secret will be generated for you after
CONSUMER_KEY = ABCDEFGHIJ
CONSUMER_SECRET = xxxx

# After the step above, you will be redirected to your app's page.
# Create an access token under the the Your access token section
ACCESS_TOKEN = yyyyyyy
ACCESS_TOKEN_SECRET = zzzzzzzz

[Elasticsearch]
# Add hosts, if your elasticsearch host is local, remove this section.
# The script will default to localhost
# Ensure you include the ports.
hosts = hostnamea:9200,hostnameb:9200
